{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'blood_login.css' %}" type="text/css">
    <title>Document</title>
</head>
<body>
    
    <div class="main_body">
        <div style="padding-left: 800px; font-size:25px; padding-top:30px; text-decoration:none;">
            <li><a href="signin">Sign In</a></li>
        </div>
        <p class="heading">Blood Bank</p>
        <form action="login" class="form" method="POST">
            {% csrf_token %}
            <p style="font-size: 30px;">Log In</p>
            <p>User Name</p>
            <input type="text" name="user_name">
            <p>Password</p>
            <input type="password" name="password">
            <br>
            <br>
            <input type="submit" value="Log-In" class="login">
        </form>
        <div style="padding-left: 400px;">
            {% for messages in messages %}
            <h3>{{messages}}</h3>
            {% endfor %}
        </div>
    </div>
    
</body>
</html>